<!-- Cabecalho -->
<h3>
	Cliente:
	<input type="text" class="span8 typeahead" data-provide="typeahead" data-items="4" data-source="["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]">
</h3>

<!-- Tabela -->
<table class="table table-bordered table-striped">
	<thead>
		<th width="10%">#</th>
		<th width="60%">Descrição</th>
		<th width="5%">Quantidade</th>
		<th width="10%">Preço Unitário</th>
		<th width="10%">Preço Total</th>
		<th width="5%"></th>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Papel chamex</td>
			<td>1</td>
			<td>R$ 10,00</td>
			<td>R$ 10,00</td>
			<td></td>
		</tr>
		<tr>
			<td>2</td>
			<td>Tesoura</td>
			<td>2</td>
			<td>R$ 2,00</td>
			<td>R$ 4,00</td>
			<td></td>
		</tr>
		<tr>
			<td>3</td>
			<td>Durex</td>
			<td>7</td>
			<td>R$ 2,00</td>
			<td>R$ 14,00</td>
			<td></td>
		</tr>
	</tbody>
	<tfoot>
		<td></td>
		<td><input type="text" class="span8 typeahead" style="margin-bottom: 0px"></td>
		<td></td>
		<td>R$ 2,00</td>
		<td>R$ 14,00</td>
		<td></td>
	</tfoot>

</table>

<!-- Botões -->
<div class="row-fluid">
	<div class="span10"> . </div>
	<div class="span2">
		<div class="btn-group right">
			<button class="btn btn-large" data-loading-text="loading..." >
				Cancelar
			</button>
			<button class="btn btn-primary btn-large" data-loading-text="loading..." >
				Salvar
			</button>
		</div>
	</div>
</div>
